<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="RegressionSuite">

    <test name="RegressionTest">
        <groups>
            <run>
                <include name="RegressionGroup"/>
            </run>
        </groups>
        <classes>
            <class name="com.tiklagelsin.scenarios.CheckRestoranList"/>
        </classes>
    </test>
</suite>